# pyvim>=2.0.23
# pyVmomi>=6.7.1
wxPython>=4.2.3
git+https://github.com/vmware/pyvmomi.git
humanize>=4.12.3
cx_Freeze>=6.1
py2app==0.28.8
wxPython>=4.2.3
idna==3.10
cryptography>=2.3.0
cffi>=1.10.0
pyOpenSSL>=17.2.0
setuptools>=38.4.0
requests>=2.3.0
six>=1.7.3
gitpython>=2.0.0
matplotlib>=2.0.0
numpy>=1.12.0

